<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="example-spacer">
            <mat-grid-list cols="3" rowHeight="4:1">
                <mat-grid-tile>
                    <div class="example-label">
                    <button mat-icon-button><mat-icon>facebook</mat-icon></button>
                    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile> <img src="assets/img/logo.png" alt="logo" height="50px">  </mat-grid-tile>
                <mat-grid-tile>
                    <div class="pmd-site-info text-center">
                    &copy; 2024 <strong>Eva A</strong>. All rights reserved.
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

