<div class="container">
    <h1>LOGIN</h1>
        <form [formGroup]="LoginForm" (ngSubmit)="login()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" placeholder="Email">
                </mat-form-field>    
            </div>    
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput [formControl]="password" placeholder="Password">
                </mat-form-field>  
            </div> 
            <div>
                <button mat-flat-button color="primary"type="submit" [disabled]="!LoginForm.valid">LOGIN</button>
            </div>             
        </form>             
</div>
