@import "/src/theme.scss";

.container {   
    padding: 10px;
}
h1 {
    color: mat-color($my-theme-secondary);
}
mat-form-field{
    margin-top:10px;
    width: 400px;
}
.mat-column-suscribe {
    flex: 0 0 100px;
  }
button{
    margin-top:10px;
    margin-bottom:20px;
    margin-right:10px;
}